body{
	background-image: url("https://d2j6dbq0eux0bg.cloudfront.net/images/20836124/1880107036.jpg");
	background-size: 110%;
	background-repeat: repeat-y;
}

.img1 {
	border-style: solid;
	border-width: 10px;
	margin: 0px auto 20px auto;
	display: block;
	height: 150px;
}

h1{
	font-family: Georgia;
}

p{
	text-align: left;
	font-family: Georgia;
	margin: 0px;
}

.column1{
	border-style: solid;
	border-width: 4px;
	margin: 40px;
	background-color: #cecece;
	padding: 25px;
	display: inline-block;
	float: left;
	width: 40%
	height: 50%;
}

.column2{
	border-style: solid;
	border-width: 4px;
	margin: 40px;
	background-color: #cecece;
	padding: 25px;
	display: inline-block;
	float: right;
	width:40%;
	height: 50%;
}

footer{
	display: inline-block;
	position: fixed;
	bottom: 0;
	font-family: Georgia;
	font-size: 20px;
	text-align: center;
	margin: auto;
	margin-bottom: 25px;
	background-color: #cecece;
	padding: 50px;
	border-style: inset;
	border-width: thick;
}

.img2 {
	display: block;
	position: center;
	width:25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}